Necesary imports

In [63]:
import pandas as pd

Create example data
That's how the data u provide HAVE TO look

In [78]:
import pandas as pd
m_names = pd.Series(['Shawshank', 'My Little Pony', 'Transformers', 'Alice in Wonderland'], name='Movie names')
m_rating_norm = pd.Series([0.62, 0.98, 0.32, 0.87, 0.51], name='Rating')    # this is presented here by me in normalised form
m_desc = pd.Series(['Cool stuff about prisons', 'Violent movie about little horses', 'Robots FTW', 'She crazy dude!'], name='Description')
print(m_names, m_rating_norm, m_desc, sep='\n\n')

0              Shawshank
1         My Little Pony
2           Transformers
3    Alice in Wonderland
Name: Movie names, dtype: object

0    0.62
1    0.98
2    0.32
3    0.87
4    0.51
Name: Rating, dtype: float64

0             Cool stuff about prisons
1    Violent movie about little horses
2                           Robots FTW
3                      She crazy dude!
Name: Description, dtype: object

Create a dataframe out of it

In [81]:
movie_data = pd.DataFrame()
movie_data = pd.concat([m_names, m_desc, m_rating_norm], axis=1)
movie_data

           Movie names                        Description  Rating
0            Shawshank           Cool stuff about prisons    0.62
1       My Little Pony  Violent movie about little horses    0.98
2         Transformers                         Robots FTW    0.32
3  Alice in Wonderland                    She crazy dude!    0.87
4                  NaN                                NaN    0.51

Make a nice list of all given data

In [9]:
list_of_all_series = [m_names, m_desc, m_rating_norm]
list_of_all_series

[0              Shawshank
 1         My Little Pony
 2           Transformers
 3    Alice in Wonderland
 Name: Movie names, dtype: object,
 0             Cool stuff about prisons
 1    Violent movie about little horses
 2                           Robots FTW
 3                      She crazy dude!
 Name: Description, dtype: object,
 0    0.62
 1    0.98
 2    0.32
 3    0.87
 4    0.51
 Name: Rating, dtype: float64]

Create a custom function to make a frame out of a list of data

In [90]:
def frame_it(list_of_pd_series):
    return pd.concat(list_of_pd_series, axis=1)

Test the function

In [91]:
df = frame_it(list_of_all_series)
df

           Movie names                        Description  Rating
0            Shawshank           Cool stuff about prisons    0.62
1       My Little Pony  Violent movie about little horses    0.98
2         Transformers                         Robots FTW    0.32
3  Alice in Wonderland                    She crazy dude!    0.87
4                  NaN                                NaN    0.51