Necesary imports

In [63]:
import pandas as pd

Create example data
That's how the data u provide HAVE TO look

In [74]:
import pandas as pd
m_names = pd.Series(['Shawshank', 'My Little Pony', 'Transformers', 'Alice in Wonderland'], name='Movie names')
m_rating_norm = pd.Series([0.62, 0.98, 0.32, 0.87, 0.51], name='Rating')    # this is presented here by me in normalised form
m_desc = pd.Series(['Cool stuff about prisons.', 'Violent movie about little horses', 'Robots FTW', 'She crazy dude!'], name='Description')
print(m_names, m_rating_norm, m_desc, sep='\n\n')

0              Shawshank
1         My Little Pony
2           Transformers
3    Alice in Wonderland
Name: Movie names, dtype: object

0    0.62
1    0.98
2    0.32
3    0.87
4    0.51
Name: Rating, dtype: float64

0            Cool stuff about prisons.
1    Violent movie about little horses
2                           Robots FTW
3                      She crazy dude!
Name: Description, dtype: object

Create a dataframe out of it

In [62]:
# TODO

   nums      0    1
0     1  name1  3.5
1     2  name2  5.7
2     3  name3  2.3
3     4  name4  1.1
4     5  name5  7.0

In [ ]:
Create a custom function to make a frame out of a list of data
# TODO