necesary imports

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

framing function

In [3]:
def frame_it(list_of_pd_series):
    return pd.concat(list_of_pd_series, axis=1)

data urls

In [4]:
URL_1_50     = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,asc"
URL_51_100   = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,asc&start=51&ref_=adv_nxt"

responses

In [5]:
response_1_50 = requests.get(URL_1_50)
response_51_100 = requests.get(URL_51_100)

soupify the responses

In [6]:
soup_1_50 = BeautifulSoup(response_1_50.text,'html.parser')
soup_51_100 = BeautifulSoup(response_51_100.text,'html.parser')

### FIRST LETS DEAL WITH RELEASE DATES #####

traverse the soup in search for the dates

In [7]:
movie_release_dates_1_50 = soup_1_50.findAll('span',class_ = 'lister-item-year text-muted unbold')
movie_release_dates_51_100 = soup_51_100.findAll('span',class_ = 'lister-item-year text-muted unbold')

create an empty list for release dates

In [8]:
list_rel_dates_1_50 = []
list_rel_dates51_100 = []

process dates

In [9]:
for str_date in movie_release_dates_1_50:
    # fix stupid strings
    str_date = (str_date.text).replace("(", "")
    str_date = str_date.replace(")", "")
    str_date = str_date.replace("I","")
    str_date = str_date.strip()
    # change them into integers
    int_date = int(str_date)
    # append to our empty list
    list_rel_dates_1_50.append(int_date)
for str_date in movie_release_dates_51_100:
    # fix stupid strings
    str_date = (str_date.text).replace("(", "")
    str_date = str_date.replace(")", "")
    str_date = str_date.replace("I","")
    str_date = str_date.strip()
    # change them into integers
    int_date1 = int(str_date)
    # append to our empty list
    list_rel_dates51_100.append(int_date1)

make them into pd.Series

In [10]:
rel_dates_1_100 = list_rel_dates_1_50 + list_rel_dates51_100
rel_dates_series = pd.Series(rel_dates_1_100, name="Release Date")

### NOW THE RUNTIMES #####

traverse the soup in search for runtimes

In [11]:
runtimes_1_50 = soup_1_50.findAll('span',class_ = "runtime")
runtimes_51_100 = soup_51_100.findAll('span',class_ = "runtime")

create empty lists for runtimes

In [12]:
movie_runtime_1_50 = []
movie_runtime_51_100 = []

process runtimes

In [13]:
for runtime in runtimes_1_50:    
    movie_runtime_1_50.append(runtime.text)
for runtime in runtimes_51_100:    
    movie_runtime_51_100.append(runtime.text)

make them into pd.Series

In [14]:
runtimes_1_100 = movie_runtime_1_50 + movie_runtime_51_100
runtimes_series = pd.Series(runtimes_1_100, name="Runtime")

profit

In [15]:
shamils_list = [rel_dates_series, runtimes_series]
df = frame_it(shamils_list)
df

    Release Date  Runtime
0           1931  117 min
1           1941  119 min
2           1952  103 min
3           1958  128 min
4           1959  136 min
..           ...      ...
95          1957   96 min
96          1974  202 min
97          2008  152 min
98          1972  175 min
99          1994  142 min

[100 rows x 2 columns]